body {
  margin-left: 5%;
  margin-right: 5%;
}

#TestingHeader{
  display: none;
  text-align: center;
  background-color: rgb(255, 255, 0)
}

#laStav,#atStav,#camStav{
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
  display: none;

}

#row:after {
  content: "";
  display: table;
  clear: both;
}

#init,#gauges,#webcam{
  height: 720px;
  float:left;
}

#gauges,#webcam{
  text-align: center;
}

#init {
  width: 20%;
}

#gauges {
  width: 30%;
}

#gaugeSpeed, #gaugeAngle {
  width: 250px;
  height: 250px;
  margin: auto;
}

#webcam {
  width: 50%;
}

#webka {
  max-width: 100%;
  max-height: 500px;
  align-self: center;
  border-width: 5px;
  border-color: #000;
  border-style: solid;
}

#graphs {
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  float: left;
}

.slidercontainer {
  width: 100%;
}

.slider {
  width: 95%;
}

.button {
  background-color: #ababab;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover{
    background-color: #000000;
    color: white;
}

#laneAssistVisual{
  display: none;
}

#prekazka{
  display: none;
}

.ledIndicator{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: rgb(69, 213, 26)
}

#leftMiddle{
  margin-right: 30px
}
#rightMiddle{
  margin-left: 30px
}
